<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysDeptApplyMapper">

  <resultMap id="SysDeptApplyResult" type="com.ruoyi.system.domain.SysDeptApply">
    <id     column="apply_id"   property="applyId"/>
    <result column="user_id"    property="userId"/>
    <result column="dept_id"    property="deptId"/>
    <result column="status"     property="status"/>
    <result column="remark"     property="remark"/>
    <result column="create_by"  property="createBy"/>
    <result column="create_time" property="createTime"/>
    <result column="update_by"  property="updateBy"/>
    <result column="update_time" property="updateTime"/>
    <result column="phone" property="phone"/>
    <result column="apply_time" property="applyTime"/>
    <result column="email" property="email"/>
    <result column="job" property="job"/>

  </resultMap>

  <sql id="selectDeptApplyVo">
    SELECT
      a.apply_id, a.user_id, a.dept_id, a.status,
      a.phone, a.apply_time, a.email, a.job,
      d.dept_name
    FROM sys_dept_apply a
    LEFT JOIN sys_dept d ON a.dept_id = d.dept_id
  </sql>

  <select id="selectDeptApplyList" resultMap="SysDeptApplyResult">
    <include refid="selectDeptApplyVo"/>
    WHERE 1=1
    <if test="applyId != null and applyId != 0">
      AND a.apply_id = #{applyId}
    </if>
    <if test="userId != null and userId != 0">
      AND a.user_id = #{userId}
    </if>
    <if test="deptId != null and deptId != 0">
      AND a.dept_id = #{deptId}
    </if>
    <if test="status != null and status != ''">
      AND a.status = #{status}
    </if>
    <if test="phone != null and phone != ''">
      AND a.phone = #{phone}
    </if>
    <if test="email != null and email != ''">
      AND a.email = #{email}
    </if>
    <if test="job != null and job != ''">
      AND a.job = #{job}
    </if>
    <!-- TODO 数据范围过滤-->
    ORDER BY a.dept_id DESC
  </select>

  <select id="selectDeptApplyById" resultMap="SysDeptApplyResult" parameterType="long">
    <include refid="selectDeptApplyVo"/>
    WHERE a.apply_id = #{applyId}
  </select>

  <insert id="insertDeptApply" parameterType="com.ruoyi.system.domain.SysDeptApply">
    insert into sys_dept_apply(
      <if test="userId != null and userId != 0">user_id,</if>
      <if test="deptId != null and deptId != 0">dept_id,</if>
      <if test="status != null and status != ''">status,</if>
      <if test="phone != null and phone != ''">phone,</if>
      <if test="applyTime != null">apply_time,</if>
      <if test="email != null and email != ''">email,</if>
      <if test="job != null and job != ''">job,</if>
      <if test="createBy != null and createBy != ''">create_by,</if>
      create_time
    ) values (
      <if test="userId != null and userId != 0">#{userId},</if>
      <if test="deptId != null and deptId != 0">#{deptId},</if>
      <if test="status != null and status != ''">#{status},</if>
      <if test="phone != null and phone != ''">#{phone},</if>
      <if test="applyTime != null">#{applyTime},</if>
      <if test="email != null and email != ''">#{email},</if>
      <if test="job != null and job != ''">#{job},</if>
      <if test="createBy != null and createBy != ''">#{createBy},</if>
      sysdate()
    )
  </insert>

  <update id="updateDeptApply" parameterType="com.ruoyi.system.domain.SysDeptApply">
    update sys_dept_apply
    <set>
      <!-- 用于更新申请者的申请信息 -->
      <if test="userId != null and userId != 0">user_id = #{userId},</if>
      <if test="deptId != null and deptId != 0">dept_id = #{deptId},</if>
      <if test="phone != null and phone != ''">phone = #{phone},</if>
      <if test="applyTime != null">apply_time = #{applyTime},</if>
      <if test="email != null and email != ''">email = #{email},</if>
      <if test="job != null and job != ''">job = #{job},</if>
      <!-- 更新信息 -->
      <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
      update_time = sysdate()
    </set>
    where apply_id = #{applyId}
  </update>

  <update id="updateStatus" parameterType="com.ruoyi.system.domain.SysDeptApply">
    update sys_dept_apply
    <set>
      <if test="status != null and status != ''">status = #{status},</if>
      <!-- 更新信息 -->
      <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
      update_time = sysdate()
    </set>
    where apply_id = #{applyId}
  </update>

  <delete id="deleteDeptApplyById">
    <!-- TODO -->
  </delete>

  <delete id="deleteDeptApplyByIds">
    <!-- TODO -->
  </delete>

</mapper>
