<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.system.mapper.SysQuestionnaireSubmissionMapper">

    <resultMap id="SubmissionResult" type="com.ruoyi.system.domain.SysQuestionnaireSubmission">
        <id property="submissionId" column="submission_id"/>
        <result property="metaId" column="meta_id"/>
        <result property="userId" column="user_id"/>
        <result property="deptId" column="dept_id"/>
        <result property="submitTime" column="submit_time"/>
        <result property="ipAddr" column="ip_addr"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectSubmissionVo">
        select * from sys_questionnaire_submission
    </sql>

    <select id="selectSubmissionById" resultMap="SubmissionResult">
        <include refid="selectSubmissionVo"/>
        where submission_id=#{submissionId}
    </select>

    <select id="selectSubmissionByMetaAndUser" resultMap="SubmissionResult">
        <include refid="selectSubmissionVo"/>
        where meta_id=#{metaId} AND user_id=#{userId}
    </select>

    <select id="selectSubmissionList" resultMap="SubmissionResult" parameterType="com.ruoyi.system.domain.SysQuestionnaireSubmission">
        <include refid="selectSubmissionVo"/>
        where del_flag = '0'
            <if test="submissionId != null and submissionId != 0">
                AND submission_id = #{submissionId}
            </if>
            <if test="metaId != null and metaId != 0">
                AND meta_id = #{metaId}
            </if>
            <if test="userId != null and userId != 0">
                AND user_id = #{userId}
            </if>
            <if test="deptId != null and deptId != 0">
                AND dept_id = #{deptId}
            </if>
            <if test="submitTime != null">
                AND DATE(submit_time) = DATE(#{submitTime})
            </if>
    </select>

    <insert id="insertSubmission" parameterType="com.ruoyi.system.domain.SysQuestionnaireSubmission" useGeneratedKeys="true" keyProperty="submissionId">
        INSERT INTO sys_questionnaire_submission(meta_id, user_id, submit_time)
        VALUES (#{metaId}, #{userId}, NOW())
    </insert>

</mapper>
