<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.system.mapper.SysQuestionnaireAnswerMapper">

    <resultMap id="AnswerResult" type="com.ruoyi.system.domain.SysQuestionnaireAnswer">
        <id property="answerId" column="answer_id"/>
        <result property="submissionId" column="submission_id"/>
        <result property="quesItemId" column="ques_item_id"/>
        <result property="ratingValue" column="rating_value"/>
        <result property="textValue" column="text_value"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="selectAnswersBySubmissionId" resultMap="AnswerResult">
        SELECT * FROM sys_questionnaire_answer WHERE submission_id=#{submissionId}
    </select>

    <insert id="insertAnswer" parameterType="com.ruoyi.system.domain.SysQuestionnaireAnswer" useGeneratedKeys="true" keyProperty="answerId">
        INSERT INTO sys_questionnaire_answer(submission_id, ques_item_id, rating_value, text_value, create_time)
        VALUES (#{submissionId}, #{quesItemId}, #{ratingValue}, #{textValue}, NOW())
    </insert>

    <insert id="batchInsertAnswers" parameterType="java.util.List">
        INSERT INTO sys_questionnaire_answer(submission_id, ques_item_id, rating_value, text_value, create_time)
        VALUES
        <foreach collection="list" item="ans" separator=",">
            (#{ans.submissionId}, #{ans.quesItemId}, #{ans.ratingValue}, #{ans.textValue}, NOW())
        </foreach>
    </insert>

</mapper>
